* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: rgb(0, 100, 150);

}

.header{
  width: 100%;
  padding-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:  1rem;
}

.header > img{
  width: 45px;
}

.container {
  height: 100vh;
}

.container > h1 {
  color: white;
  padding-top: 1rem;
}

.footer{
  position: absolute;
  color: white;
  width: 100%;
  bottom: 40px;
}
