* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: rgb(0, 100, 150);
  height: 100vh;

}

.header{
  width: 100%;
  padding-top: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:  1rem;
}

.header > img{
  width: 45px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;

}
.container > h1 {
  color: white;
  padding-top: 1rem;
}

.footer{
  position: absolute;
  color: white;
  width: 100%;
  bottom: 40px;
}

@media (max-width: 455px){
  
  .header {
    padding: 0;
  }

  .header h1{
    font-size: 6.5vw;
  }

  .header > img{
    width: 35px;
  }

}

@media (max-height: 535px){

  .footer{
    position: initial;
  }

}