* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  height: 100vh;
  background: rgb(56, 48, 48);
}

.container > h1 {
  color: white;
}

.footer{
  position: absolute;
  color: white;
  width: 100%;
  bottom: 40px;
}
